{% for item in site.data.navigation.languages %}
  {% if item.language == page.lang %}
    {% for link in item.links %}
      {% if link.url contains "http" %}
        {% assign url = link.url %}
      {% else %}
        {% assign url = link.url | relative_url %}
      {% endif %}
      <ul class="visible-links">
        {%- for link in site.data.navigation.languages -%}
          <li class="masthead__menu-item">
            <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {% endfor %}
  {% endif %}
{% endfor %}